<?php
$CONFIG = array (
  'instanceid' => 'ocuqr77sitwj',
  'passwordsalt' => 'vpI6++H4EDI7WqvrVTyElFmCNL7rR/',
  'secret' => 'h9nKMRd2eYqckjJKXnyDKJR3VosNKJEHf3NPq3n2DheKee0m',
  'trusted_domains' => 
  array (
    0 => '185.177.95.70',
  ),
  'datadirectory' => '/mnt/gfs2/nextcloud/data',
  'dbtype' => 'pgsql',
  'version' => '21.0.2.1',
  'overwrite.cli.url' => 'http://185.177.95.70',
  'dbname' => 'nextcloud',
  'dbhost' => 'localhost:5432',
  'dbport' => '',
  'dbtableprefix' => 'oc_',
  'dbuser' => 'nextcloud',
  'dbpassword' => 'nextcloud',
  'installed' => true,
);
